html
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
}


ul {
    list-style: none;
}

.section_title {
  text-align: center;
}

#section_1 {
  height: 100%;
  width: 100%;
  background: url("../video/place_holder_video.mp4") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-bottom: 360px;
  color: white;
}

#section_1_div {
  width: 100%;
  height: 350px;
  /*margin-top: 150px;*/
  margin-right: 7em;
  padding: 20px;
  /*float: right;*/
}

#section_1_div ul {
  margin-left: 60%;
  margin-top: 2%;
}

#section_1_div li {
  display: inline-block;
  padding-left: 5%;
  font-size: 1.2em;
}

#section_1_div li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#section_1 li:hover:after {
  width: 100%;
  background: white;
}

#section_1 li:hover {
  cursor: pointer;
}



video#bgvid { 
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

#section_2 {

}

#section_2 ul {
  margin-left: 5%;
}

#section_2 li {
  display: inline;
  padding-left: 5%;
}

#section_2 img {
  height: 240px;
  width: 230px;
}

#section_2 img:hover {
  cursor: pointer;
}

#section_2 h5 {
  /*margin-left: 18%;*/
  position: fixed;
}

#director {
  display: none;
}

#director.active {
  display: block;
}

#director.active img {
  display: none;
}

.video_container {
  /*margin-left: 10%;*/
}

.director_video  {
  /*height: 250px !important;*/
  width: 300px !important;
  display: inline;

}

#section_3 p {
  width: 80%;
  margin-left: 10%;
}

form {
  margin-left: 30%;
}

table {
  width: 50%;
}

input {
  margin-bottom: 20px;
}



footer ul {
  float: ;
}

footer li {
  margin-bottom: 10px;
}

footer li:hover {
  cursor: pointer;
}

