html
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
}


ul {
    list-style: none;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color:white;
}

.mobile_only {
  display: none;
}

.section_title {
  text-align: center;
  padding-bottom: 30px;
}

#section_1 {
  background-color: black;
  height: 100%;
  width: 100%;
  background: url("../video/hand_pulled_animated.mp4") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 360px;
}

/*keyframes for fade in animation*/
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }


#section_1_div {
  width: 100%;
  height: 350px;
  /*margin-top: 150px;*/
  margin-right: 7em;
  padding: 20px;
  /*float: right;*/
}

#section_1_div h1 {
  margin-top:  13%;
  margin-left: 12%;
}

#section_1_div ul {
  margin-left: 35%;
  margin-top: 2%;
}

#section_1_div li {
  color: white;
  display: inline-block;
  padding-left: 5%;
  font-size: 1.2em;
}

#section_1_div li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#section_1 li:hover:after {
  width: 100%;
  background: white;
}

#section_1 li:hover {
  cursor: pointer;
}

#nav_bar {
   -webkit-animation: navFade ease-in 1s;  /* call our keyframe named navFade, use animattion  and repeat it only 1 time */
    -moz-animation: navFade ease-in 1s;
    animation: navFade ease-in 1s;
}

/*nav bar fade in animation*/
@keyframes navFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes navFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes navFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes navFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes navFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#directors_list a {
  text-decoration: none;
  color: white;
}

#directors_list {
  margin-left: -45%;
  margin-top: 21em;
  opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn  .5;  /* call our keyframe named fadeIn, use animattion  and repeat it only 1 time */
    -moz-animation:fadeIn  .5;
    animation:fadeIn  .5;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
  -webkit-animation-delay: .5s;
-moz-animation-delay: .5s;
animation-delay: .5s;
}

video#bgvid { 
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#section_2 {
  margin-top: 400px;
  /*margin-left: 5%;*/
}

#section_2 ul {
  margin-left: 10%;
}

#section_2 li {
  display: inline;
  padding-left: 5%;
}

#section_2 img {
  height: 240px;
  width: 230px;
}

#section_2 img:hover {
  cursor: pointer;
}

#section_2 h5 {
  /*margin-left: 18%;*/
  position: fixed;
}


#director {
  display: none;
}

#director.active {
  display: block;
}

#director.active img {
  display: none;
}

.video_player {
  height: 450px;
  width: 80%;
  border: 2px solid black;
  margin-bottom: 50px;
  padding: 10% 20%;
  background-color: gray;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive video, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: 0;
}

.video_container {
  /*margin-left: -10%;*/
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive video, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: 0;
}
.director_video  {
  /*height: 250px !important;*/
  width: 300px !important;
  display: inline;

}

#section_3 {
  margin-top: 400px;
  /*margin-bottom: 100%;*/

}

#section_3 img {
  height: auto;
  width: 80%;
  margin: -1em 10% ;
}

#section_3 p {
  width: 80%;
  margin-left: 10%;
}

#section_4 {
  margin-top: 100px;
  margin-bottom: 200px;
  height: 300px;
  /*margin-bottom: 500px;*/
}

/*#contact_info {
  margin-left: 10%;
  margin-top: 
}*/

#contact_info { 
  /*border-right: 1px solid gray;*/
  width: 350px;
  height: 100px;
  margin: 0 11%;
  padding-top: 10px;
}


footer {
  /*margin-bottom: 50px;*/
}

#scroll_up {
  float: ;
  margin-left: 4em;
  /*margin-right: 5%;*/
  margin-bottom: 5%;
  margin-top: -10em;
  height: 180px;
  width: 180px;
}

#scroll_up:hover {
  cursor: pointer;
}

footer hr {
  color: black;
  height: 2px;
}

footer ul {
  margin-left: 14em; 
  margin-top: ;
  float: ;
}

footer a {
  text-decoration: none !important;
  color: black;
}

footer a:hover {
  color: black;
}

footer li {
  margin-bottom: 10px;
}

footer li:hover {
  cursor: pointer;
}

.social  {
  height: 80px;
  width: 80px;
}

/*MEDIA QUERIES*/

/*SMART PHONE*/

@media only screen and (max-device-width: 480px) {
    .desktop_only {
      display: none;
    }
    
    #section_1 {
      background-color: black;
      height: 130em;
      width: 100%;
      margin-bottom: -350px;
      /*background: url("../img/inverted_logo.jpg") no-repeat center center fixed;*/
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /*margin-bottom: 360px;*/
    }

    #section_1_div ul {
      margin-left: 25%;
      margin-top: 22%;
    }


    #mobile_background {
      display: inline-block;
      height: 400px;
      width: 400px;
      margin-left: 30%;
      margin-top: 10%;
    }  

    #nav_bar {
      margin-left: -30%;
      font-size: 2em;
    }

    #directors_list {
      /*margin-left: -65%;*/
      margin-top: 0em;
      font-size: 2.5em;
      text-align: center;
    }

    #directors_list li {
       display: list-item;
    }
  }











