* {padding:0; margin:0; border: 0; outline: 0;}

body {
  background-color: black;
  color: #CCCCCC;
  height: 1000px;
}

a {
  text-decoration: none;
  color: #CCCCCC
}

#director_nav img {
  height: 180px;
  width: 180px;
  margin-left: 4%;
}

#director_nav a {
  text-decoration: none;
  color: #CCCCCC;
}

#director_nav ul {
  list-style: none;
  display: inline-block;
  margin-left: 18%;
}

#director_nav li {
  font-size: 1.2em;
  display: inline;
  padding-bottom: 2px;
  margin-right: 15px;
  margin-top: 20%;
}

.active {
  border-bottom: 2px solid #CCCCCC;
}

.container {
  margin-left: 11%;
  max-width: 78%;
  overflow:hidden;
  min-height:0px !important;
}

.embed-responsive {
  margin-top: -2%;
}

#director_title {
  margin-top: 5%;
  height: 80vh;
}

#director_title h2 {
  margin-left: 43%;
}

#director_title p {
  font-size: 1.5em;
  margin-left: 12%;
  max-width: 75%;
}

#director_title img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin-left: 35%;
}

.director_contact {
  height: 15vh;
  margin: 5% 8%;
  text-align: center;
  position: static;
}
.director_contact ul {
  list-style: none;
}

.director_contact li {
  font-size: 1.5em;
}

.director_contact a:link, a:visited {
  color: #CCCCCC;
  text-decoration: none;
}

.director_contact a:hover {
  text-decoration: none;
  color: white;
  transition: .5s;
}

/*Media Queries*/
/*Smaller Browser Window*/
@media (max-width: 875px) { 
  .director_contact {
    margin-top: 10%;
  }
}

@media (max-width: 765px) { 
  .director_contact {
    margin-top: 20%;
  }
}

@media (max-width: 720px) {
  .director_contact {
    margin-top: 40%;
  }
}


@media (max-width: 650px) {
  .director_contact {
    margin-top: 50%;
  }
}


@media (max-width: 550px) {
  .director_contact {
    margin-top: 150%;
  }
}

@media (max-width: 420px) {
  .director_contact {
    margin-top: 200%;
  }
}












