body {
  background-color: black;
  color: white;
  height: 1000px;
}

#director_nav img {
  float: ;
  height: 180px;
  width: 180px;
}

#director_nav a {
  text-decoration: none;
  color: white;
}

#director_nav ul {
  list-style: none;
  display: inline-block;
  margin-left: 18%;
}

#director_nav li {
  font-size: 1.2em;
  display: inline;
  padding-bottom: 2px;
  margin-right: 15px;
  /*margin-left: 5%;*/
  margin-top: 20%;
}

.active {
  border-bottom: 2px solid white;
}

#director_title {
  height: 100vh;
  margin-bottom: -10%;
}

#director_title h2 {
  margin-left: 43%;
}

#director_title p {
  width: 70%;
  margin: 2em 10% 3em 15%;
}

#director_title img {
  height: 300px;
  width: 300px;
  margin-left: 38%;
}

#video_player { 
  display: table; line-height: 0;
  font-size: 0; background: #000;
  max-width: 1000px;
  margin: 0 auto;
}
#video_container { 
  position: relative;
}
#video_player div, #video_player figcaption { 
  display: table-cell;
  vertical-align: top; 
}
#video_container video { 
  position: absolute; 
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; }
#video_player figcaption a { 
  opacity: .5;
  transition: 1s opacity; 
}
#video_player figcaption a img, figure video { 
  width: 100%; height: auto; 
}
#video_player figcaption a.currentvid, #video_player figcaption a:hover, #video_player figcaption a:focus { opacity: 1; }
@media (max-width: 700px) {
  #video_player video, #video_player figcaption { 
    display: table-row; 
  }
#video_container { padding-top: 56.25%; }
#video_player figcaption a { 
  display: inline-block; width: 33.33%; 
}
}

.video_div {
  height: 100vh;
}

/*#director_title {
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 3em;
  margin-top: 2em;
  width: 90%;
}*/

.director_contact {
  height: 50vh;
  margin: -5% 15%;
  text-align: center;

}
.director_contact ul {
  list-style: none;

}

.director_contact li {
  font-size: 1.5em;
  /*display: inline-block;*/
  /*padding-left: 20px;*/
}
















